.container {
    max-width: 1000px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.content {
    display: grid;
    background-color: #fff;
    margin: 50px 0;
    position: relative;
}

.content::before {
    content: "";
    display: flex;
    justify-self: center;
    background-color: var(--vermelho);
    width: 3.75rem;
    height: calc(1rem/4);
    position: absolute;
    top: 30px;
}

.info,
.vantagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.intro {
    display: grid;
    gap: 20px;
    align-self: center;
    justify-items: end;
    padding: 2.5rem;
    text-align: right;
}

.intro h1 {
    font-size: 2rem;
}

.botao {
    background-color: var(--vermelho);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.botao:hover {
    background-color: var(--vermelhoescuro);
}

.subtitulo {
    display: flex;
    align-items: center;
    background-color: var(--bgcolor);
}

.subtitulo h2 {
    background: url("../img/onda.svg") center;
    color: var(--textocinza);
    font-size: 4rem;
    text-align: right;
    text-transform: uppercase;
    padding: 1.9rem 2.5rem;
}

.vantagens-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    margin: 0 2.5rem;
    padding: 1.5rem;
}

.vantagens-item:hover {
    border-left: 4px solid var(--vermelho);
}

.vantagens-item:first-child {
    margin-top: 2.5rem;
}

.vantagens-item:last-child {
    margin-bottom: 2.5rem;
}

.vantagens-item:nth-child(odd) {
    background-color: var(--bgcolor);
}

.icone {
    grid-row: span 2;
}

.footer {
    background-color: #fff;
    text-align: center;
    padding: 40px;
}

/* Especificações Gerais */

:root {
    --bgcolor: #f7f7f7;
    --textocinza: #c6c6c6;
    --vermelho: #ee2211;
    --vermelhoescuro: #900;
}

::selection {
    background-color: var(--vermelho);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgcolor);
}

li a {
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    border-radius: 4px;
}

li a:hover {
    border-color: var(--vermelho);
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
}